<header class="fixed inset-x-0 top-0 z-50 backdrop-blur-md bg-background/80 border-b border-border">
    <div class="container mx-auto relative flex items-center h-16
             justify-between gap-4 px-4
             sm:gap-8 sm:justify-between
             md:justify-center md:gap-8">
        <!-- Logo -->
        <a routerLink="/" class="logo p-4 flex-shrink-0 hidden sm:block">
            <img [src]="logo$ | async" alt="Aeon Logo" class="h-10 w-auto" />
        </a>

        <!-- Navegação -->
        <nav #nav class="absolute inset-x-0 flex justify-center gap-4 sm:gap-6
               md:static" [style.--x]="xCss" [style.--w]="wCss">
            <a *ngFor="let item of navItems" #link [routerLink]="item.path" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" (isActiveChange)="onActiveChange($event, link)"
                class="relative text-base overflow-visible">
                <span class="label block transition-transform duration-300 origin-bottom">
                    {{ item.name }}
                </span>
            </a>
            <span class="indicator"></span>
        </nav>

        <!-- Theme toggle -->
        <app-theme-toggle class="p-2 sm:p-4 flex-shrink-0" />
    </div>
</header>
