@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .link-underline {
        --underline-height: 2px;
        --underline-offset: -4px;
        --underline-color: hsl(var(--primary));
    }

    .link-underline {
        @apply relative inline-flex items-center transition-colors duration-300;
    }

    .link-underline::after {
        content: "";
        pointer-events: none;
        position: absolute;
        left: 0;
        bottom: var(--underline-offset);
        height: var(--underline-height);
        width: 0;
        display: block;
        background: radial-gradient(ellipse at center,
                var(--underline-color) 0%,
                transparent 70%);
        opacity: .8;
        transition:
            width .35s ease,
            opacity .35s ease;
        animation: pulse 2s ease-in-out infinite;
    }

    .link-underline:hover,
    .link-underline:focus-visible {
        @apply text-primary;
    }

    .link-underline:hover::after,
    .link-underline:focus-visible::after {
        width: 100%;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: .8;
    }

    50% {
        opacity: .4;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;

        /* Custom colors */
        --gold: 51 100% 50%;
        --gold-darker: 43 55% 51%;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
